body, html{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: aliceblue;
  background-color: #003;
}

li{
  list-style-type: none;
  color: aliceblue;
  padding: 10px;
}
.logo{
  display: flex;
  align-items: center;
}

.header, .footer{
  background-color: #003;
  /* padding: 20px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.register ul{
  display: flex;
  justify-content: space-around;
  
}

.btn{
  width: 80px;
  height: 40px;
  border-radius: 4px;
  background-color: #fca311;
  border: 1px double #f77f00;
  cursor: pointer;
  /* margin: 0; */
}
.headinput{
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border-style: inset;
  /* margin: 0; */
}
h1, h3{
  color: rgb(221, 214, 228);
  
}

.container{
  padding: 1em 3em;
  box-shadow: 5px 5px 5px 5px grey;
}

.body{
  /* max-width: 40%; */
  /* justify-content: center; */
  width: 50%;
  margin: 0 15em;
  padding: 2em 4em;
  background: #e5e5e5;

  align-items: center;
}

#input{
  width: 500px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  border: 1px dotted rgb(6, 41, 58);
  border-radius: 5px;
}
.btnOne{
  width: 513px;
  height: 40px;
  margin: 10px;
  background-color: #fca311;
  border: 1px double #f77f00;
  color: rgb(221, 214, 228);
  border-radius: 5px;
  cursor: pointer;
}

main > p{
  font-size: 10px;
  font-weight: 500;
}

