body, h2, h4{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: aliceblue;
  background-color: #003;
}

li{
  list-style-type: none;
  color: aliceblue;
  padding: 10px;
}
.logo{
  display: flex;
  align-items: center;
}

.header, .footer{
  background-color: #003;
  /* padding: 20px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.register ul{
  display: flex;
  justify-content: space-around;
  
}

.btn{
  width: 80px;
  height: 40px;
  border-radius: 4px;
  background-color: #fca311;
  border: 1px double #f77f00;
  cursor: pointer;
  /* margin: 0; */
}
.btnTwo, .btnThree{
  width: 400px;
  height: 40px;
  border-radius: 4px;
  /* color: beige; */
  font-size: 20px;
  font-weight: 900;
  background-color: #4f8a8b;
  border: 1px double grey;
  cursor: pointer;
  margin-top: 20px;
}
.headinput{
  width: 400px;
  height: 40px;
  border-radius: 4px;
  border-style: inset;
  /* margin: 0; */
}
h1, h3{
  color: rgb(221, 214, 228);
  
}

.main{
  width: 90%;
  margin: 0 4em;
  background: #e5e5e5;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.description{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;  
  padding-left: 20px;
  
}

span{
  color: red;

}