body, html{
  margin: 0;
  padding: 0;
  
}
main, footer{
  margin: 0;
  
}
.btn{
  width: 200px;
  height: 40px;
  border-radius: 4px;
  background-color: #fca311;
  border: 1px double #14213d;
  cursor: pointer;
  margin: 10px; 
}
.headinput{
  width: 500px;
  height: 40px;
  border-radius: 4px;
  border-style: inset;
  padding-left: 10px;
  /* margin: 0; */
}

a{
  text-decoration: none;
  color: aliceblue;
}

li{
  list-style-type: none;
  /* color: aliceblue; */
  padding: 10px;
}
.logo{
  display: flex;
  align-items: center;
}

.header, .footer{
  background-color: #003;
  /* padding: 20px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.register ul{
  display: flex;
  justify-content: space-around;
  
}
h1, h3{
  color: rgb(221, 214, 228);
}
h2{
  color: #370617;
  /* background: #fff; */
  padding: 10px; 
  margin: 0;
}

.main{
  /* width: 90%; */
  margin: 0 4em;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: #e5e5e5;
  border-radius: 5px;
}

.first, .second, .third, .fourth{
  display: flex;
  justify-content: space-between
}
span{
  font-size: 25px;
  font-weight: 900;
  color: red;
  margin-left: 20px;
}
main img{
  width:18em;
  height: 18em;
  border-radius: 5px;
  /* margin: 0; */
  /* min-width: 300px; */
}
/* .second,.third,.fourth {
  box-shadow: 5px 5px 5px 5px grey;
} */
.hovering img:hover{
  box-shadow: 5px 5px 5px 5px grey;
  cursor: pointer;
}

.fourth img{
  width:15em;
  height: 15em;
  border-radius: 5px;
}

.left, .middle, .right{
  margin: 10px;
}
.left1, .middle1, .right1, .right2{
  margin: 10px 4px;
}

.cart-items{
  max-width: 800px;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
}

.cart-items li {
  display: flex;
  align-items: center;
  margin: 1em 1em 1em 0;
  border: 1px solid #33333360;
  border-radius: 6px;
}
.cart-items p {
  font-weight: 700;
 padding: 0;
 margin: 5px 0;
 color: rgb(3, 131, 46);
 }

.cart-items li h2 {
  font-weight: 600;
  font-size: 20px;
  margin: 0em;
  padding: 0em;
}
.cart-items img {
  width: 100px;
  height: 100px;
}
.cart-items .name-price {
  margin: 0 1em;

}
.cart-items span {
  margin-left:  auto;
  margin-right:  20px;
  background:#89cbe4;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.cart-items span:hover {
  background: red;
  box-shadow: 5px 10px 18px 0px #fa909045;
}