@media screen and (max-width: 1130px){
  .main{
    width: 100vw;
    margin: 0 10px;
  }
  .first, .second, .third, .fourth{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
  .fourth img{
    width:12em;
    height: 12em;
    border-radius: 5px;
  }
  main img{
    width:15em;
    height: 15em;
    border-radius: 5px;
  }
  .first, .second, .third, .fourth{
    justify-content: space-around;
  }
  .register ul{
    display: block;
    /* margin: 0; */
  }
  .headinput {
    margin: 0;
    width: 400px;
  }
  li{
    padding: 0 0 5px 0;
  }
}

@media screen and (max-width: 770px) {
  .main{
    width: 100vw;
    margin: 0;
  }
  .first, .second, .third, .fourth{
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
  .fourth img{
    width:12em;
    height: 12em;
    border-radius: 5px;
    align-items: center;
  }
  main img{
    width:15em;
    height: 15em;
    border-radius: 5px;
  }
  .first, .second, .third, .fourth{
    justify-content: space-around;
  }
  .register ul{
    display: block;
    padding-left: 10px;
    /* margin: 0; */
  }
  li{
    padding: 0 0 5px 0;
  }
  .header, .footer{
    justify-content: center;
  }
  .headinput{
    margin-left: 5px;
    width: 200px;
  }
}
@media screen and (max-width: 500px){
  .header, .footer{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
  }
  .headinput {
    margin: 0;
    width: 350px;
  }
  .register ul{
    display: flex;
  }
  li{
    padding: 0 5px 0 0;
  }
}